nav
    ul
        li
            a(href='/') HOME
        li
            a(href='/projects') PROJECTS
        li
            a(href='/about') ABOUT
        li
            a(href='/help.html') HELP
