doctype:5
html
    head
        title Maksimka
        style.
            h1 {
                color: blue
            }
            ul {
                display: flex;
            }
            ul>li {
                margin-right: 20px
            }
    body
        include partials/nav.pug
        div
            h1= title
            h4= subTitle
            a(href='/') back to main
        h1 About page
        a(href='/') back