doctype:5
html
    head
        title Main
        link(rel='stylesheet' href='/main.css')
    body
        include partials/nav.pug
        h1 Hello Express !
        a(href='/about') about
        -
            var getTime = `${new Date().getHours()} : ${new Date().getMinutes()} : ${new Date().getSeconds()}`
        p Time now: #{getTime}